<?xml version="1.0" encoding="utf-8"?>
<!--Pos-Build Commands for generate file list:-->
<!--call "%wix%\bin\heat.exe" dir "$(SolutionDir)CSYT\bin\x86\Release\ " -var "var.CSYT.TargetDir" -ag -srd -dr INSTALLFOLDER -cg ProductComponents -template fragment -out "$(ProjectDir)Output.wxs" -v -t "$(ProjectDir)Filter.xslt"-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension"><?define CSYT_TargetDir=$(var.CSYT.TargetDir)?>
	<Product Id="*" Name="CSYT 2.1" Language="1033" Version="2.1" Manufacturer="CSYT" UpgradeCode="4309cd9f-fd60-4de9-b5bc-9b1b481a91c8">
		<Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine"/>

    <Icon Id="video.ico" SourceFile="$(var.ProjectDir)video.ico"/>
    <Property Id="ARPPRODUCTICON" Value="video.ico" />
    
    <PropertyRef Id="WIX_IS_NETFRAMEWORK_462_OR_LATER_INSTALLED"/>
    
    <Condition Message="This application requires .NET Framework 4.6.2 or newer. Please install the .NET Framework then run this installer again.">
      <![CDATA[Installed OR WIX_IS_NETFRAMEWORK_462_OR_LATER_INSTALLED]]>
    </Condition>
    
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <UIRef Id="WixUI_InstallDir" />

    <WixVariable Id="WixUILicenseRtf" Value="gpl-3.0.rtf" />
    
		<MajorUpgrade Schedule="afterInstallInitialize" AllowDowngrades="yes"/>
		<MediaTemplate EmbedCab="yes"/>
    
		<Feature Id="ProductFeature" Title="CSYT" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="CSYTExecutable"/>
      <ComponentRef Id="ApplicationShortcut"/>
      <ComponentRef Id="ApplicationShortcutDesktop"/>
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="CSYT">
        </Directory>
			</Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="CSYT"/>
      </Directory>
      <Directory Id="DesktopFolder" Name="Desktop"/>
		</Directory>
	</Fragment>

  <Fragment>  
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="af8f6095-daec-4500-941b-1328a77b68dc">
        <Shortcut Id="ApplicationStartMenuShortcut"
                  Name="CSYT"
                  Description="Watch Youtube videos whike doing other stuff"
                  Target="[#CSYT.exe]"
                  WorkingDirectory="INSTALLFOLDER"/>
        <RemoveFolder Id="CleanUpShortCut" Directory="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\CSYT" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>
    
    <DirectoryRef Id="DesktopFolder">
      <Component Id="ApplicationShortcutDesktop" Guid="fd7bc59a-d7eb-4987-99a7-76cdc09f952d">
          <Shortcut Id="ApplicationDesktopShortcut"
                  Name="CSYT"
                  Description="Watch Youtube videos whike doing other stuff"
                  Target="[#CSYT.exe]" 
                  WorkingDirectory="INSTALLFOLDER"/>
          <RemoveFolder Id="DesktopFolder" Directory="DesktopFolder" On="uninstall" />
          <RegistryValue Root="HKCU" Key="Software\CSYT" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>

	<Fragment>
    <ComponentGroup Id="CSYTExecutable">
      <Component Id="CSYT.exe" Directory="INSTALLFOLDER" Guid="*">
        <File Id="CSYT.exe" KeyPath="yes" Source="$(var.CSYT.TargetDir)\CSYT.exe" />
      </Component>
      <Component Id="CSYT.exe.config" Directory="INSTALLFOLDER" Guid="*">
        <File Id="CSYT.exe.config" KeyPath="yes" Source="$(var.CSYT.TargetDir)\CSYT.exe.config" Hidden="yes"/>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
